<h1>Edit Car</h1>

<form action="/cars/<%= @car.id %>" method="post">

    <label>
        Make:
        <input name="make" placeholder="Volkswagen" value="<%= @car.make %>" required>
    
    </label>
    <label>
        Model:
        <input name="model" placeholder="Golf" value="<%= @car.model %>" required>
    
    </label>
    <label>
        Body:
        <input name="body" placeholder="SUV" value="<%= @car.body %>" required>
    
    </label>
    <label>
        Color:
        <input name="color" placeholder="Red" value="<%= @car.color %>" required>
    
    </label>
    <label>
        Year:
        <input name="year" placeholder="2021" value="<%= @car.year %>" required>
    
    </label>
    <label>
        Kilometres:
        <input name="kilometres" placeholder="120000" value="<%= @car.kilometres %>" required>
    
    </label>
    <label>
        Transmission:
        <input name="transmission" placeholder="manual" value="<%= @car.transmission %>" required>
    
    </label>
    <label>
        Engine 'cc':
        <input name="engine" placeholder="2.0" value="<%= @car.engine %>" required>
    
    </label>
    <label>
        Image:
        <input type="url" name="image" placeholder="https://...jpg" value="<%= @car.image %>">
    
    </label>

    <button>Update Car</button>
</form>

