<h1>
    <%= @company.name %>
</h1>

<% if @company.cars.any? %>
    <h3>Associated cars:</h3>
    <ul>
        <% @company.cars.each do |car| %>
            <li>
                <a href="/cars/<%= car.id %>">
                <%= car.model %>
                </a>
            </li>
        <% end %>
    </ul>
<% end %>

<% unless @company.image.nil? || @company.image.empty? %>
<h3>
    Image: <img src="<%= @company.image %>" alt="">
</h3>
<% end %>

<div class="controls">
    <a href="/companies/<%= @company.id %>/edit">Edit</a>
    <a href="/companies/<%= @company.id %>/delete">Delete</a>
</div>